In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("results.tsv")

In [5]:
df[df["flag_column"] == 1]

,names,start,alignment_string,no_of_base_pairs,no_of_wobbles,no_of_bp+wobbles,flag_column,8mer,7mer-a1,7mer-m8,CLASH_II,CLASH_III,CLASH_IV,CLASH_V
23609,hsa-let-7a-3p,949,010001000100011111110,10,0,10,1.0,0,0,1,0,0,0,0
25555,hsa-let-7b-3p,948,0000000000100011111110,8,0,8,1.0,0,0,1,0,0,0,0
27281,hsa-let-7f-1-3p,948,0000000000100011111110,8,0,8,1.0,0,0,1,0,0,0,0
29319,hsa-miR-98-3p,948,0000010000100011111110,9,0,9,1.0,0,0,1,0,0,0,0
31423,hsa-let-7c-3p,827,0000000010100011111110,9,0,9,1.0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4026873,hsa-miR-944,3407,0101000100000011111110,10,0,10,1.0,0,0,1,0,0,0,0
4028005,hsa-miR-9500,1175,0000011011011111110,11,0,11,1.0,0,0,1,0,0,0,0
4032358,hsa-miR-95-5p,3544,000001000100111111111,11,0,11,1.0,1,0,0,0,0,0,0
4037573,hsa-miR-96-3p,4966,0010011010000111111111,13,0,13,1.0,1,0,0,0,0,0,0
4038188,hsa-miR-1271-5p,1325,1000001100001001111111,11,0,11,1.0,0,1,0,0,0,0,0