In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("targetscan_mirnas.txt",
                    sep="\t", header=0)

# dropping non-human miRNAs
df = df[df["Species ID"] == 9606]
# dropping unnecessary columns
df = df.drop(["miR family", "Species ID"], axis=1)

# reordering columns
df = df.iloc[:, [1, 2, 0, 3, 4]]

# renaming columns
renaming_dict = {
    "Seed+m8": "seed",
    "MiRBase ID": "name",
    "Mature sequence": "sequence",
    "Family Conservation?": "conservation",
    "MiRBase Accession": "accession"
}

df.rename(columns=renaming_dict, inplace=True)

# changing uracils into thymines
df.sequence = df.sequence.str.replace("U", "T")
df.seed = df.seed.str.replace("U", "T")

# trimming 7mer seed into 6mer
df["seed"] = df["seed"].str[:-1]
df.head()

             name                sequence    seed  conservation     accession
53  hsa-let-7a-5p  TGAGGTAGTAGGTTGTATAGTT  GAGGTA             2  MIMAT0000062
54  hsa-let-7b-5p  TGAGGTAGTAGGTTGTGTGGTT  GAGGTA             2  MIMAT0000063
55  hsa-let-7c-5p  TGAGGTAGTAGGTTGTATGGTT  GAGGTA             2  MIMAT0000064
56  hsa-let-7d-5p  AGAGGTAGTAGGTTGCATAGTT  GAGGTA             2  MIMAT0000065
57  hsa-let-7e-5p  TGAGGTAGGAGGTTGTATAGTT  GAGGTA             2  MIMAT0000066

In [3]:
df.to_csv("../../processed/targetscan/targetscan.csv", index=False)