In [1]:
%cd ..

import pandas as pd
pd.set_option('display.max_columns', None)

from scripts.utils_latest import *

/run/media/nazif/2F946E411BA61D49/thesis

In [2]:
df = pd.read_csv("results/7_results_of_first_5_rows.csv")
df.head()

,id,mrna_start,mrna_end,mrna_sequence,mirna_accession,mirna_start,mirna_end,mirna_sequence,mrna_dot_bracket_5to3,mirna_dot_bracket_5to3,pred_energy,is_mutated
0,1_809687_G_C_MIMAT0000062,0,10,GCCACGGCTGAGGAGGAGGAGTT,MIMAT0000062,2,14,TGAGGTAGTAGGTTGTATAGTT,(((((.(((.,.))).)).))).,-5.2,0
1,1_809687_G_C_MIMAT0004481,10,23,GCCACGGCTGAGGAGGAGGAGTT,MIMAT0004481,10,21,CTATACAATCTACTGTCTTTC,.((((((..(((.,.))).)))))),-5.7,0
2,1_809687_G_C_MIMAT0010195,4,20,GCCACGGCTGAGGAGGAGGAGTT,MIMAT0010195,4,19,CTGTACAGCCTCCTAGCTTTCC,.((((.((((((..(.,.)..)))))))))).,-16.1,0
3,1_809687_G_C_MIMAT0000063,0,10,GCCACGGCTGAGGAGGAGGAGTT,MIMAT0000063,9,22,TGAGGTAGTAGGTTGTGTGGTT,(((((((((.,.)))..)))))).,-7.8,0
4,1_809687_G_C_MIMAT0004482,10,23,GCCACGGCTGAGGAGGAGGAGTT,MIMAT0004482,10,22,CTATACAACCTACTGCCTTCCC,.(((((.(.(((.,.))).)))))).,-10.5,0

In [3]:
df = generate_alignment_string_from_dot_bracket(df)
df = generate_match_count_columns(df)

df.head()

,id,mrna_start,mrna_end,mrna_sequence,mirna_accession,mirna_start,mirna_end,mirna_sequence,mrna_dot_bracket_5to3,mirna_dot_bracket_5to3,pred_energy,is_mutated,alignment_string,pred_num_basepairs,pred_seed_basepairs
0,1_809687_G_C_MIMAT0000062,0,10,GCCACGGCTGAGGAGGAGGAGTT,MIMAT0000062,2,14,TGAGGTAGTAGGTTGTATAGTT,(((((.(((.,.))).)).))).,-5.2,0,000111011011100000000,8,3
1,1_809687_G_C_MIMAT0004481,10,23,GCCACGGCTGAGGAGGAGGAGTT,MIMAT0004481,10,21,CTATACAATCTACTGTCTTTC,.((((((..(((.,.))).)))))),-5.7,0,000000000001110111111,9,0
2,1_809687_G_C_MIMAT0010195,4,20,GCCACGGCTGAGGAGGAGGAGTT,MIMAT0010195,4,19,CTGTACAGCCTCCTAGCTTTCC,.((((.((((((..(.,.)..)))))))))).,-16.1,0,000001001111111111000,11,1
3,1_809687_G_C_MIMAT0000063,0,10,GCCACGGCTGAGGAGGAGGAGTT,MIMAT0000063,9,22,TGAGGTAGTAGGTTGTGTGGTT,(((((((((.,.)))..)))))).,-7.8,0,0000000000111001111110,9,0
4,1_809687_G_C_MIMAT0004482,10,23,GCCACGGCTGAGGAGGAGGAGTT,MIMAT0004482,10,22,CTATACAACCTACTGCCTTCCC,.(((((.(.(((.,.))).)))))).,-10.5,0,0000000000011101111110,9,0

# is this function ok?

In [4]:
# def check_nth_character(row):
#     sequence = row["mrna_sequence"]
#     mirna_end = row["mrna_end"] - 1
#     return "x" if mirna_end >= len(sequence) else int(sequence[mirna_end] == "A")

# # Apply the function to create a new column "is_A_nth_character"
# df["anchor_a"] = df.apply(check_nth_character, axis=1)
# df.head()

In [5]:
mirna_df = pd.read_csv("data/processed/mirbase/mirbase22.csv")
mirna_df.head()

              name     accession                sequence
0    hsa-let-7a-5p  MIMAT0000062  AACUAUACAACCUACUACCUCA
1    hsa-let-7a-3p  MIMAT0004481   GAAAGACAGUAGAUUGUAUAG
2  hsa-let-7a-2-3p  MIMAT0010195  GGAAAGCUAGGAGGCUGUACAG
3    hsa-let-7b-5p  MIMAT0000063  AACCACACAACCUACUACCUCA
4    hsa-let-7b-3p  MIMAT0004482  GGGAAGGCAGUAGGUUGUAUAG

In [6]:
df = add_ta_sps_columns(df)
df = find_seed_type(df)
df = add_mirna_conservation_column(df)
df = generate_close_proximity_column(df)

In [7]:
df.head()

,id,mrna_start,mrna_end,mrna_sequence,mirna_accession,mirna_start,mirna_end,mirna_sequence,mrna_dot_bracket_5to3,mirna_dot_bracket_5to3,pred_energy,is_mutated,alignment_string,pred_num_basepairs,pred_seed_basepairs,ta_log10,sps_mean,anchor_a,6mer_seed,match_8,6mer_seed_1_mismatch,compensatory_site,supplementary_site,supplementary_site_2,empty_seed,9_consecutive_match_anywhere,mirna_conservation,midpoint,close_proximity
0,1_809687_G_C_MIMAT0000062,0,10,GCCACGGCTGAGGAGGAGGAGTT,MIMAT0000062,2,14,TGAGGTAGTAGGTTGTATAGTT,(((((.(((.,.))).)).))).,-5.2,0,000111011011100000000,8,3,3.393,-8.180,0,0,1,0,0,0,0,0,0,2.0,4,0
1,1_809687_G_C_MIMAT0004481,10,23,GCCACGGCTGAGGAGGAGGAGTT,MIMAT0004481,10,21,CTATACAATCTACTGTCTTTC,.((((((..(((.,.))).)))))),-5.7,0,000000000001110111111,9,0,3.716,-3.710,0,0,0,0,0,0,1,1,0,-1.0,14,0
2,1_809687_G_C_MIMAT0010195,4,20,GCCACGGCTGAGGAGGAGGAGTT,MIMAT0010195,4,19,CTGTACAGCCTCCTAGCTTTCC,.((((.((((((..(.,.)..)))))))))).,-16.1,0,000001001111111111000,11,1,3.549,-6.275,1,0,0,0,1,1,0,0,1,-1.0,8,0
3,1_809687_G_C_MIMAT0000063,0,10,GCCACGGCTGAGGAGGAGGAGTT,MIMAT0000063,9,22,TGAGGTAGTAGGTTGTGTGGTT,(((((((((.,.)))..)))))).,-7.8,0,0000000000111001111110,9,0,3.393,-8.180,0,0,0,0,0,0,1,1,0,2.0,4,0
4,1_809687_G_C_MIMAT0004482,10,23,GCCACGGCTGAGGAGGAGGAGTT,MIMAT0004482,10,22,CTATACAACCTACTGCCTTCCC,.(((((.(.(((.,.))).)))))).,-10.5,0,0000000000011101111110,9,0,3.716,-3.710,0,0,0,0,0,0,1,1,0,-1.0,14,0

In [8]:
df = generate_seed_type_columns(df)

# changed MRE into mrna sequence to rapidly prototype

In [9]:
def calculate_au_content(sequence):
    au_count = 0
    for nucleotide in sequence:
        if nucleotide in ['A', 'T', "U"]:
            au_count += 1
            
    return None if len(sequence) == 0 else au_count / len(sequence)

df["mre_au_content"] = df['mrna_sequence'].apply(calculate_au_content)

# adapt local au content here

In [10]:
### write code

In [11]:
df.to_csv("results/8_adding_feature_cols.csv", index=False)