In [1]:
%cd ..

import pandas as pd

/run/media/nazif/2F946E411BA61D49/thesis

In [2]:
coords = pd.read_csv("data/processed/mirbase/mirna_coordinates_grch38/coordinates.csv")
df = pd.read_csv("sana/dataset.csv")

# adding test row

In [3]:
new_row = {'chr': "1", 'start': 17410, "ref": "test", "alt":"test", "driver":"test"}

# Convert the new row to a DataFrame
new_row_df = pd.DataFrame([new_row])

# Append the new row to the dataframe
df = pd.concat([df, new_row_df], ignore_index=True)

df.tail()

     chr      start   ref   alt driver
1150   2  220077160     G     T      0
1151  16   31471209     C     T      0
1152  18   59584293     G     C      0
1153  19   45976823     C     A      0
1154   1      17410  test  test   test

In [4]:
df['is_mirna'] = 0

# Iterate over each mutation in the mutations dataframe
for index, row in df.iterrows():
    mutation_chr = row['chr']
    mutation_start = row['start']

    # Check if the mutation falls into any of the RNAs
    matching_rnas = coords[(coords['chr'] == mutation_chr) & (coords['start'] <= mutation_start) & (coords['end'] >= mutation_start)]

    if not matching_rnas.empty:
        # Update the 'is_mirna' column to 1 for the current mutation
        df.at[index, 'is_mirna'] = 1

In [5]:
df.is_mirna.value_counts()

is_mirna
0    1154
1       1
Name: count, dtype: int64

In [6]:
df.tail()

     chr      start   ref   alt driver  is_mirna
1150   2  220077160     G     T      0         0
1151  16   31471209     C     T      0         0
1152  18   59584293     G     C      0         0
1153  19   45976823     C     A      0         0
1154   1      17410  test  test   test         1