In [1]:
%cd ..

import pandas as pd

/run/media/nazif/2F946E411BA61D49/thesis

In [6]:
def find_seed_type(df):
    df['anchor_a'] = df['mre_region'].apply(lambda x: 1 if x[-1] == 'A' else 0)

    df['seed_match'] = df['alignment_string'].apply(
        lambda x: 1 if x[1:8].count('0') == 0 else 0)

    df['seed_1_mismatch'] = df['alignment_string'].apply(
        lambda x: 1 if x[1:8].count('0') == 1 else 0)

    return df

def add_ta_sps_columns(df):
    # generating seed col
    df["seed"] = df["mirna_sequence"].apply(lambda x: x[1:8]).str.replace('T', 'U')
    
    # reading ta sps data
    ta_sps_df = pd.read_csv("data/processed/ta_sps/ta_sps.csv", usecols=["seed_8mer", "ta_log10", "ta_percentile_rank", "sps_mean", "sps_mean_percentile_rank"])
    ta_sps_df = ta_sps_df.rename(columns={"seed_8mer": "seed"})
    
    # merge
    df = pd.merge(df, ta_sps_df, on="seed", how="left")
    
    # drop temp col
    df.drop(columns=["seed"], inplace=True)
    
    return df

In [8]:
df = pd.read_csv('results/merged_df_results.csv')
df = find_seed_type(df)
df = add_ta_sps_columns(df)


df.to_csv("results/final.csv", index=False)
df.head()

,mrna_start,mrna_end,pred_energy,mirna_start,mirna_end,mirna_dot_bracket_5to3,mirna_sequence,mirna_accession,mre_region,enst,...,alignment_string,pred_num_basepairs,pred_seed_basepairs,anchor_a,seed_match,seed_1_mismatch,ta_log10,ta_percentile_rank,sps_mean,sps_mean_percentile_rank
0,23,46,-27.7,1,21,)))))))))))))))))))).,TGAGGTAGTAGGTTGTATAGTT,MIMAT0000062,TTTATACAGAACCTACTGCCTC,ENST00000340828,...,1111111111111111111100,20,6,0,1,0,3.393,54,-8.18,37
1,12,31,-26.2,1,19,))))))))).)))))))).,TGAGGTAGTAGGTTGTATAGTT,MIMAT0000062,CGTGCAACCAACTACCTCATAT,ENST00000343455,...,1111111110111111110000,17,6,0,1,0,3.393,54,-8.18,37
2,4,25,-23.6,1,22,.)))))).))))))))))))).,TGAGGTAGTAGGTTGTATAGTT,MIMAT0000062,CGCTATATGACCTGATGCCTTT,ENST00000436639,...,0111111011111111111110,19,6,0,0,1,3.393,54,-8.18,37
3,4,25,-23.8,1,22,)))))))...)))))))))))),TGAGGTAGTAGGTTGTATAGTT,MIMAT0000062,TGACTATGCAACCATACCTTAC,ENST00000282516,...,1111111000111111111111,19,6,0,0,1,3.393,54,-8.18,37
4,3,25,-24.0,1,22,))))))))))))))...)))).,TGAGGTAGTAGGTTGTATAGTT,MIMAT0000062,TACTGGGAAACCTGCTACTTCG,ENST00000340139,...,1111111111111100011110,18,6,0,1,0,3.393,54,-8.18,37