In [1]:
# change working dir to import methods from root/scripts
%cd ../

import pandas as pd
import numpy as np

from scripts.utils_v2_for_jupyter import *
from scripts.features import *

pd.set_option('display.max_columns', None)

/run/media/nazif/2F946E411BA61D49/thesis

In [2]:
clash_df = pd.read_csv("data/processed/clash/clash_parsed.csv")

# finding matches

In [4]:
df = find_matches(clash_df)
# df.to_csv("results/clash_prediction_results.csv", index=False)

df = pd.read_csv("results/clash_prediction_results.csv")

In [5]:
df = find_clash_types(df, find_noncanonical=True)

df.head()

,id,pred_start,true_start,pred_end,true_end,pred_no_of_bp,true_no_of_bp,pred_no_of_bp_in_seed,true_no_of_bp_in_seed,alignment_string,mirna_sequence,mrna_sequence,true_seed_type,true_folding_class,mirna_name,ensg,accession,pred_8mer,pred_7mer-a1,pred_7mer-m8,pred_type_2,pred_type_3,pred_type_4,pred_type_5,pred_compensatory,pred_seed_with_1_mismatch,pred_centered_site
0,0727A-1038930_1,1791,1791,1812,1890,7,20,1,6,1001011000010100100000,TGAGGTAGTAGGTTGTATAGTT,ATTTGTATCTACGATAAAAATT,noncanonical_seed,III,let-7a,ENSG00000113328,MIMAT0000062,0,0,0,0,0,0,0,0,0,0
1,0727A-1038930_1,1793,1791,1814,1890,8,20,2,6,0001110010001100100100,TGAGGTAGTAGGTTGTATAGTT,TTGTATCTACGATAAAAATTTT,noncanonical_seed,III,let-7a,ENSG00000113328,MIMAT0000062,0,0,0,0,0,0,0,0,0,0
2,0727A-1038930_1,1795,1791,1816,1890,8,20,1,6,0001011101000100000101,TGAGGTAGTAGGTTGTATAGTT,GTATCTACGATAAAAATTTTTA,noncanonical_seed,III,let-7a,ENSG00000113328,MIMAT0000062,0,0,0,0,0,0,0,0,0,0
3,0727A-1038930_1,1797,1791,1818,1890,8,20,1,6,1011100001000101000001,TGAGGTAGTAGGTTGTATAGTT,ATCTACGATAAAAATTTTTATA,noncanonical_seed,III,let-7a,ENSG00000113328,MIMAT0000062,0,0,0,0,0,0,0,0,0,0
4,0727A-1038930_1,1800,1791,1821,1890,10,20,2,6,0110111011001001100000,TGAGGTAGTAGGTTGTATAGTT,TACGATAAAAATTTTTATACAG,noncanonical_seed,III,let-7a,ENSG00000113328,MIMAT0000062,0,0,0,0,0,0,0,0,0,0

mrna               1 ATTTGTATCTACGATAAAAATTTTTATACAGAACCTACTGCCTCAAACTG     50
                                       ||   .|||||  ||||||||.|||||     
mirna              1 ------------------AA---CTATAC--AACCTACTACCTCA-----     22

mrna               1 ATTTGTATCTACGATAAAAATTTTTATACAGAACCTACTGCCTCAAACTG     50
                                            ...||.|.||||||||.|||||     
                                            0001101011111111011111
mirna              1 -----------------------AACTATACAACCTACTACCTCA-----     22

In [7]:
df[df["pred_no_of_bp_in_seed"] >= 5]

,id,pred_start,true_start,pred_end,true_end,pred_no_of_bp,true_no_of_bp,pred_no_of_bp_in_seed,true_no_of_bp_in_seed,alignment_string,mirna_sequence,mrna_sequence,true_seed_type,true_folding_class,mirna_name,ensg,accession,pred_8mer,pred_7mer-a1,pred_7mer-m8,pred_type_2,pred_type_3,pred_type_4,pred_type_5,pred_compensatory,pred_seed_with_1_mismatch,pred_centered_site
14,0727A-1038930_1,1814,1791,1835,1890,16,20,5,6,0001101011111111011111,TGAGGTAGTAGGTTGTATAGTT,TTATACAGAACCTACTGCCTCA,noncanonical_seed,III,let-7a,ENSG00000113328,MIMAT0000062,0,0,0,0,0,0,1,0,0,0
37,0727A-1038930_1,1861,1791,1882,1890,8,20,5,6,0000000000001101101111,TGAGGTAGTAGGTTGTATAGTT,TTTCTATTGTATTAGTAACTCA,noncanonical_seed,III,let-7a,ENSG00000113328,MIMAT0000062,0,0,0,0,0,0,0,0,0,0
46,L1HS-1112536_1,3865,3857,3886,3928,17,17,6,6,1010010111110111111111,TGAGGTAGTAGGTTGTATAGTT,ACCCGTGCAACCAACTACCTCA,9-mer,II,let-7a,ENSG00000100697,MIMAT0000062,1,0,0,0,0,0,0,0,0,0
78,L2HS-1161339_2,6572,6570,6593,6623,9,18,5,6,1000011000000001111101,TGAGGTAGTAGGTTGTATAGTT,ATGACTATGCAACCATACCTTA,noncanonical_seed,III,let-7a,ENSG00000164190,MIMAT0000062,0,0,0,0,0,0,0,0,0,0
81,L2HS-1161339_2,6577,6570,6598,6623,9,18,5,6,0100001101000001111010,TGAGGTAGTAGGTTGTATAGTT,TATGCAACCATACCTTACCACT,noncanonical_seed,III,let-7a,ENSG00000164190,MIMAT0000062,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220006,L2-291154_2,301,297,322,348,11,14,6,6,0000100010010101111111,TGTCCTCTAGGGCCTGCAGTCT,TTGGTAGGGCTCTTTGAGGACA,7-mer,I,miR-3909,ENSG00000124693,MIMAT0018183,0,1,0,0,0,0,0,0,0,0
220016,L2HS-474511_3,301,297,322,348,10,12,6,6,0000100010000101111111,TGTCCTCTAGGGCCTGCAGTCT,TTGGTAGGGCTATTTGAGGACA,7-mer,I,miR-3909,ENSG00000198366,MIMAT0018183,0,1,0,0,0,0,0,0,0,0
220056,A12-2877828_1,994,985,1015,1037,9,16,5,5,0001100100000011111100,GGAGGAACCTTGGAGCTTCGGC,CAGGACCCAAGGGCGTTCCTGG,6-mer,I,miR-3928,ENSG00000142173,MIMAT0018205,0,0,0,0,0,0,0,0,1,0
220071,L2-1331429_1,3028,3021,3050,3068,21,21,6,6,11110111111111011111111,GAGGCTGATGTGAGTAGACCACT,AGTGATCTACTCACCTCAGCCTC,8-mer,III,miR-3929,ENSG00000135679,MIMAT0018206,1,0,0,0,0,0,0,0,0,0
220135,L1HS-550121_2,674,666,696,720,9,17,5,4,01001000000001011111010,TAGCCCCCAGGCTTCACTTGGCG,TGGGAGTCCTCAGCAGGGGGATC,noncanonical_seed,I,miR-3943,ENSG00000080824,MIMAT0018359,0,0,0,0,0,0,0,0,1,0

In [8]:
reverse_complement("TGAGGTAGTAGGTTGTATAGTT")

'AACTATACAACCTACTACCTCA'

EMBOSS_001         1 CAGGAAATACCCGTGCAACCAACTACCTCATATTCCATTCAGAATTTATA     50
                         ||.||    |.|||||.|||||||||                    
EMBOSS_001         1 ----AACTA----TACAACCTACTACCTCA--------------------     22

In [ ]:
df = ohe_true_match_types(df)

df.head()

In [ ]:
def filter_type_1_matches(df):
    
    pred_type_1 = (df["pred_8mer"] == 1) | (df["pred_7mer-a1"] == 1) | (df["pred_7mer-m8"] == 1)

    return df[pred_type_1 & (df["true_type_1"] == 1)] 

def filter_type_2_matches(df):
    
    return df[(df["pred_type_2"] == 1) & (df["true_type_2"] == 1)]

def filter_type_3_matches(df):
    
    return df[(df["pred_type_3"] == 1) & (df["true_type_3"] == 1)]


def filter_type_4_matches(df):
    
    return df[(df["pred_type_4"] == 1) & (df["true_type_4"] == 1)]


def filter_type_5_matches(df):
    
    return df[(df["pred_type_5"] == 1) & (df["true_type_5"] == 1)]

df2 = filter_type_5_matches(df)

df2

In [ ]:
logic = (df["pred_8mer"] == 1) | (df["pred_7mer-a1"] == 1) | (df["pred_7mer-m8"] == 1)
df[logic & (df["true_type_1"] == 1)]